doctype html
html
  head
      block head
        title="Collections"
        //- link(rel='stylesheet' href='/stylesheets/collection.css')
  body
    block content
        h1 Your Collections
        //- each collection in collections
        //-     div
        //-         h2=collection.name
