extends layout.pug
include utils.pug

  block content
      h1 Your Collections
      each collection in collections
        div(id='collection-link-container')
          h2(id='collection-name')
            a(href=`/collections/${collection.id}` id='collection-link')=collection.name
      each collected in userCollected
        div(id='game-container')
          h2(id='game-title')=collected.Game.title
          img(id='game-img' src=collected.Game.imgLink)
