extends layout.pug
include utils.pug

  block content
      h1 Your Collections
      each collection in collections
        div
          h2
            a(href=`/collections/${collection.id}`)=collection.name
      each collected in userCollected
        div
          h2=collected.Game.title
          img(src=collected.Game.imgLink)
