extends layout.pug
include utils.pug

block content
    h1= userCollection.name
    div(class='collections-container')
        each collected in userCollected
            h2(id='game-title')= collected.Game.title
            img(src=collected.Game.imgLink)
