extends layout.pug

include utils.pug

block content
    h2= `Write a Review for ${game.title}`
    form(class='create-review-form' action=`/games/${game.id}/reviews` method='post')
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Title", 'title', title, 'text', "Title")
        select(id="review-rating" name="rating" value=rating)
            option(value='') --Rate--
            option(value=1 selected=(rating === '1'))= '1 terrible'
            option(value=2 selected=(rating === '2'))= '2 not good'
            option(value=3 selected=(rating === '3'))= '3 mediocre'
            option(value=4 selected=(rating === '4'))= '4 good'
            option(value=5 selected=(rating === '5'))= '5 amazing'
        +field(null, 'reviewText', reviewtext, 'textarea', 'Write your review...')
        button(type='submit') Submit
