include utils.pug

doctype html
html
  head
      block head
        title="Login"
        link(rel='stylesheet' href='/stylesheets/users.css')
  body
    block content
      div(class="log-in-container")
        div(class="errors-container")
        h2.test Log In
        +validationErrorSummary(errors)
        form(class="log-in-form")
          +field('Email Address', 'email', null, 'email', 'Enter email', 'emailDiv')
          +field('Password', 'password', '', 'password', 'Enter password', 'passwordDiv')
          button(type='submit') Log In
        a(href='/users/signup') Don't have an account? Sign up here.
