

extends layout.pug

include utils.pug

block content
  div(class="sign-up-container")
    h2 Sign Up
    +validationErrorSummary(errors)
    form(class='log-in-form' action='/users/signup' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Email', 'email', email, 'email', 'Enter email', 'emailDiv')
      +field('Password', 'password', null, 'password', 'Enter password', 'sign-up-passwordDiv')
      +field('Confirm Password', 'confirmPassword', null, 'password', 'Confirm Password', 'confirm-passwordDiv')
      div(class='sign-up-buttons')
        button(type='submit') Sign Up
        a(href='/' id='cancel') Cancel


//- Previous Version:
//- extends layout.pug

//- block content
//-   div(class="sign-up-container")
//-     h2 Sign Up
//-     form(class="sign-up-form")
//-         label(for='email') Email
//-         input(type='text' name='email' placeholder="Email")
//-         include includes/auth-form-fields.pug
//-         label(for='confirmPassword') Confirm Password
//-         input(type='password', name="confirmPassword", placeholder='Password')
//-         button(type='submit') Sign Up
//-     a(href='/users/login') Already have an account? Log in here.
