*{
    font-family: "Merriweather", "Georgia", serif;
    color: white;
}

.logout-button{
    background-color: #3b4042;
}
.nav-bar{
    background-color: #3b4042;
    border-bottom: none;
}

body{
    background-color: #3b4042;

}

h1{
    text-align: center;
    font-size: 40px;
    font-family: "Merriweather", "Georgia", serif;

}

#collection-link{
    font-size: 32px;
}
h2{
    padding: 0px;
    font-size: 25px;
    font-family: "Merriweather", "Georgia", serif;
}

.collections-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
}

img {
    height:300px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}
img:hover{
    transform: scale(1.05);
}

#game-title{
    color: white;
}
