.game-img {
    width: 400px;
    height: 300px;
}

.game-container {
    display: flex;
}

.img-rate-coll-container {
    margin: 2rem;
    /* color: white; */
}

.collection-container,
.select-rating {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* width: 15rem; */
    /* display: flex; */
    /* justify-content: space-between; */
}

#collection-label,
#collection-select {
    margin: 0 0.25rem 0;
}

#collection-label {
    /* font-family: Arial, Helvetica, sans-serif; */
}

select {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    height: 1.5rem;
}

.game-title, .game-details {
    /* color: white; */
}

.game-details {
    /* font-family: Arial, Helvetica, sans-serif; */
}

.detail {
    box-sizing: border-box;
    margin:0.2rem;
}

.description-single{
    font-size: 1rem;
    margin: 1rem 0 0.5rem;

}

.description-paragraph {
    margin: 0.5rem 0 0;
}

.game-title {
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 2rem 0 0.5rem;
    font-size: 2rem;
}

.rating-container {
    display: flex;
    align-items: center;
}

.rating {
    font-size: 1rem;
    /* font-family: Arial, Helvetica, sans-serif; */
    display: flex;
    align-items: center;
    margin: 0 1rem 0;
    /* height: 28px; */
}

.static-star {
    /* cursor: pointer; */
    color: black;
    display: inline-block;
    font-size: 2rem;
    /* background-size: 25px; */
}

.select-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: flex;
    justify-content: center;
}
.select-rating > span {
    display: inline-block;
    position: relative;
    /* width: 1rem; */
}
.star-rating {
    font-size: 2rem;
}

.select-rating > span:hover:before,
.select-rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

/* .star {
    cursor: pointer;
    background-repeat: no-repeat;
    display: inline-block;
    height: 28px;
    width: 28px;
    font-size: 0;
    background-size: 25px;
} */

.individual-review{
    width: 40%;
    /* font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 14px;
}
.review-container{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.review-content{
    text-align:left;
}
.review-header{
    color: black;
    /* font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
.review-text{
    margin-left: 8%;
}
