*{
    box-sizing: border-box;
}

.game-image{
    height:200px;
    width: 250px;
}

.games-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0px;
}

.games-container > div{
    width: 250px;

}
.description{
    height: 100px;
    overflow: hidden;
}
