body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.log-in-container{
    width: 700px;
    overflow: hidden;
    margin: 50px 50px;
    padding: 80px;
    background: #12e4e4;
    border-radius: 15px ;
}

h2{
    text-align: center;
    color: black;

    padding: 20px;
}

.emailDiv{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.passwordDiv{
    display: flex;
    justify-content: flex-start;
    gap: 46px;
    padding: 10px;
}

label{
    color: black;
    font-size: 17px;

}

#email{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    color: black;

}

#password{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    color: black;

}
.log-in-form button{
    background-color: #3b4042;
}
.log-in-container a{
    color: black;
}
